version: "3.9"

services:
  scraper:
    build: .
    container_name: fastapi_scraper
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app/app
      - ./data:/app/data
    restart: unless-stopped
    environment:
      - DATABASE_URL=sqlite+aiosqlite:////app/data/web_scraper.db
